### Q1 WAP to sum all the items in a list

In [ ]:
q1 = list(map(int, input().split()))
print(sum(q1))

### Q2 WAP to convert list to string

In [ ]:
q2 = ["I", "Love", "Python"]
res2 = " ".join(q2)
q2_1 = "VVS Laxman"
res2_1 = q2_1.split(' ')
print(res2,res2_1)

### Q3 WAP to print a specified list after removing the 0th, 4th and 5th elements.

In [ ]:
q3 = [0,1,2,3,4,5,6,7,8,9]
res3 = q3[1:4] + q3[6:]
res3

### Q4 WAP to print a square of the given list.

In [ ]:
q4 = [5,6,7,8]
res4 = []
for i in q4:
    print(i**2)
    res4.append(i**2)
res4

### Q5 WAP to flatten a shallow list.

In [7]:
q5 = []
while True:
    newList = input()
    if not newList:
        break
    q5.append(newList.split())
print(*q5, sep="\n")
print([x for i in q5 for x in i])

1 2 3
4 5 6

['1', '2', '3']
['4', '5', '6']
['1', '2', '3', '4', '5', '6']

### Q6 WAP to create a list by concatenating a  list which range goes from 1 to n.

In [10]:
n = int(input("Enter n::\t"))
q6 = input("Enter list::\t").split()
res6 = []
for i in range(n):
    for j in q6:
        res6.append(j+str(i+1))
res6

Enter n::	3
Enter list::	p q

['p0', 'q0', 'p1', 'q1', 'p2', 'q2']

In [ ]:
print("*"*())